{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home - Todo App</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>

    <div class="navbar">
        <div><strong>Todo App</strong></div>
        <div>
            <a href="/">Home</a>
            <a href="/view">View Todos</a>
            <a href="/add">Add Todo</a>
        </div>
    </div>

    <div class="container">
        <h1>Welcome to the Todo App</h1>

        <div class="names">
            Gerald Kipsang   BBIT/MG/2485/09/22<br>
            Yvonne Mwende Kirimi  BBIT/MG/1953/09/22<br>
            Caren Njeri Njoroge   BBIT/MG/2615/09/22
        </div>
    </div>

</body>
</html>
